/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0
    http://creativecommons.org/licenses/by/3.0/
    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    BASIC  STYLES    
    =============================================*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height:25px;
}

#page-wrapper {
    padding: 15px 15px;
    background: rgba(255,255,255,0.5);
    /* min-height: 100%; */
}

#page-inner {
    background-color: #fff!important;
    padding: 10px;
    border-radius: 10px;
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid #550A10; /* dünne linie*/
    margin-bottom: 10px;
}
.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed #00CA79;
}


/*=================
    MENU STYLES    
=================*/

.nav {
 display: flex;
 flex-direction: row;
}
.nav div {
 position: relative;
}
.nav a {
 display: block;
 color: #fff;
 cursor: pointer;
 padding: 10px;
 font-weight: bold;
 text-decoration: none;
 white-space: nowrap;
 transition: transform 0.2s;
}
.nav a:hover {
 transform: scale(1.1);
}
.nav .nav {
 position: absolute;
 min-width: 100%;
 left: 50%;
 transform: translatex(-50%);
 display: flex;
 flex-direction: column;
 align-items: center;
 transition: transform 0.35s, clip-path 0.35s;
 clip-path: polygon(
  0                  0,
  100%               0,
  100%               100%,
  calc(100% + 100vw) 100%,
  calc(100% + 100vw) calc(100% + 100vh),
  -100vw             calc(100% + 100vh),
  -100vw             100%,
  0                  100%
  );
 border-radius: 0 0 10px 10px;
 border: 4px solid rgba(0,0,0,0.1);
 border-top: none;
}
.nav {z-index: 1001}
.nav .nav {z-index: 1002}
.nav .nav .nav {z-index: 1003}
.nav .nav .nav .nav {z-index: 1004}
.nav .nav .nav .nav .nav {z-index: 1005}
.nav .nav .nav .nav .nav .nav {z-index: 1006}
.nav .nav .nav .nav .nav .nav .nav {z-index: 1007}
.nav .nav .nav .nav .nav .nav .nav .nav {z-index: 1008}
.nav .nav .nav .nav .nav .nav .nav .nav .nav {z-index: 1009}
.nav .nav .nav .nav .nav .nav .nav .nav .nav .nav {z-index: 1010}

.arrow {
 float: right;
}
.arrow:before {
	font-family: FontAwesome;
 content: "\f107";
}
.inactive > .arrow:before {
 content: "-";
}
.inactive ~ .nav {
 transform: translate(-50%,-100%);
 clip-path: polygon(
  0                  calc(100% + 1px),
  100%               calc(100% + 1px),
  100%               calc(100% + 1px),
  calc(100% + 100vw) calc(100% + 1px),
  calc(100% + 100vw) calc(100% + 100vh),
  -100vw             calc(100% + 100vh),
  -100vw             100%,
  0                  100%
 ) !important;
 pointer-events: none;
}


/*===========================
    Redjard's extra Zeugs    
===========================*/

.grid{
 display: grid;
 // grid-gap: 10px;
 grid-template-columns: repeat(var(--spalten),calc(var(--breite) / var(--spalten)));
 grid-template-rows: repeat(var(--zeilen),calc(var(--höhe) / var(--zeilen)));
}
.grid > *{
 grid-column-start: var(--spalte);
 grid-column-end: calc(var(--spalte) + var(--breite,1));
 grid-row-start: var(--zeile);
 grid-row-end: calc(var(--zeile) + var(--höhe,1));
}
.grid img{
 width: 100%;
 height: 100%;
 object-fit: contain;
 display: block;
}

.halfwidth,.width60,.width70,.width80,.width90{
 display: flex;
 justify-content:center;
}
.halfwidth > *{
 min-width: 50%;
 width: 1500px;
 max-width: 100%;
}
.width60 > *{
 min-width: 60%;
 width: 1500px;
 max-width: 100%;
}
.width70 > *{
 min-width: 70%;
 width: 1500px;
 max-width: 100%;
}
.width80 > *{
 min-width: 80%;
 width: 1500px;
 max-width: 100%;
}
.width90 > *{
 min-width: 90%;
 width: 1500px;
 max-width: 100%;
}

.nsel{
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

#page-wrapper {
    border-radius: 10px;
    margin: 5px;
}

#top_menu_14 {
    line-height: normal;
}
#top_menu_14 * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}