/*----------------------- IGEM 2020 Code ----------------------- */
/* base */
body {
  background-color:#fff;
  background-image: url("https://2020.igem.org/wiki/images/d/d4/T--Aachen--space.jpg");
}

.container-fluid {
  background:linear-gradient(to right,#fe336d 0, #fe336d 25%, #2bd792 25%, #2bd792 50%, #4f70de 50%, #4f70de 75%, #feca40 75%, #feca40 100%)  bottom;
  background-repeat: no-repeat;
  background-size:100% 4px;
  width:100%;
}

/* headings and universal texts */
h1 {
  text-align:left;
  font-size: 36px;
  color: #eaeaea;
  margin-top: 50px;
  border-bottom: none !important;
  font-weight: bold;
}

h2 {
  text-align:left;
  font-size: 32px;
  color: #eaeaea;
}

h3 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.centerb {
  margin: auto;
  width: 80em;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* links */
a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

/* colors header */
#myRed_menu:hover, .myRed_menu:hover {
  box-shadow: inset 0px -5px 0px 0px #fe336d !important;
  color: #fe336d !important;
}
#myGreen_menu:hover, .myGreen_menu:hover {
  box-shadow: inset 0px -5px 0px 0px #2bd792 !important;
  color: #2bd792 !important;
}
#myBlue_menu:hover, .myBlue_menu:hover {
  box-shadow: inset 0px -5px 0px 0px #4f70de !important;
  color: #4f70de !important;
}
#myYell_menu:hover, .myYell_menu:hover {
  box-shadow: inset 0px -5px 0px 0px #feca40 !important;
  color: #feca40 !important;
}

#myRed:hover, .myRed:hover {
  color: #fe336d !important;
}
#myGreen:hover, .myGreen:hover {
  color: #2bd792 !important;
}
#myBlue:hover, .myBlue:hover {
  color: #4f70de !important;
}
#myYell:hover, .myYell:hover {
  color: #feca40 !important;
}

.myOrig:hover {
  color: #ed413b !important;
}

/* index page */

.animRow {
  margin-right: 0;
  width: 100%;
  background-image: url("../docs/misc/animATP.gif");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 100%;
}

/* attributions seite */
.attributions{
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
  background: rgba(17, 14, 33, 0.5);
}
.attributions .title{
  visibility: hidden;
  width: 80%;
   font-size: 14px;
   background-color: rgba(211, 211, 211, 0.50);
   /*background-color: rgba(228, 135, 104, 0.70);*/
   color: #000000;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
   bottom: 100%;
   left: 25%;
   right: 25%;
   margin-left: -60px;
   position: absolute;
   z-index: 125;
}
.attributions .description{
  visibility: hidden;
   width: 80%;
   font-size: 14px;
   background-color: rgba(211, 211, 211, 0.50);
   /*background-color: rgba(228, 135, 104, 0.70);*/
   color: #000000;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
   top: 80%;
   left: 25%;
   right: 25%;
   margin-left: -60px;
   position: absolute;
   z-index: 125;
}
.attributions:hover .title{
  visibility: visible;
}
.attributions:hover .description{
  visibility: visible;
}

/* modelling page */
.movie {
  transition: transform .2s;
  margin: 0;
}

.movie:hover {
  transform: scale(2);
}

#download_button {
  border-radius: 50%;
  border: 2px #eaeaea solid;
  font-size: 14px;
  outline: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor: pointer;
  color: #eaeaea !important;
}

#download_button:hover {
  border: 2px #2bd792 solid;
  color: #2bd792 !important;
  font-weight: bold;
}


.abs_head {
    align-content: flex-start;
    text-align: left;
    font-weight: 800;
    font-size: 24px;
    font-family: Arial;
}

.textframe_blue {
  text-align: justify;
  padding: 15px 15px 20px;
  border-radius: 40px 10px;
  margin-top: -20px;
  margin-bottom: 40px;
  border: 4px solid #4f70de;
  color: #eaeaea;
  font-size: 16px;
  background: rgba(17, 14, 33, 0.5);
}

.onoffswitch {
    position: relative; width: 101px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-top: 20px;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "MODEL";
    padding-left: 10px;
    background-color: #FE336D; color: #2BD792;
}
.onoffswitch-inner:after {
    content: "MD";
    padding-right: 10px;
    background-color: #4F70DE; color: #FECA40;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #2BD792;
    position: absolute; top: 0; bottom: 0;
    right: 67px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#pools {
  list-style: none;
}

#pools li::before{
  content: "\25BA";
  color: #2bd792;
  font-size: 24px;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-top: 3px;
}

.unterlist {
  list-style: none;
}

.unterlist  li::before {
  content: "\2022" !important;
  font-size: 14px;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
  margin-top: 3px;
}

#atp_br {
  transition: transform .2s;
  z-index: 999;
}

#atp_br:hover {
  transform: scale(1.5);
}

/* Project Description */
.textframe_yellow {
  text-align: justify;
  padding: 15px 15px 20px;
  border-radius: 40px 10px;
  margin-top: -20px;
  margin-bottom: 40px;
  border: 4px solid #feca40;
  color: #eaeaea;
  font-size: 16px;
  background: rgba(17, 14, 33, 0.5);
}

.textframe_red {
  text-align: justify;
  padding: 15px 15px 20px;
  border-radius: 40px 10px;
  margin-top: -20px;
  margin-bottom: 40px;
  border: 4px solid #fe336d;
  color: #eaeaea;
  font-size: 16px;
  background: rgba(17, 14, 33, 0.5);
}

.textframe_green {
  text-align: justify;
  padding: 15px 15px 20px;
  border-radius: 40px 10px;
  margin-top: -20px;
  margin-bottom: 40px;
  border: 4px solid #2bd792;
  color: #eaeaea;
  font-size: 16px;
  background: rgba(17, 14, 33, 0.5);
}

.textframe_grey {
  text-align: justify;
  padding: 15px 15px 20px;
  border-radius: 40px 10px;
  margin-top: -20px;
  margin-bottom: 40px;
  border: 4px solid #707070;
  color: #eaeaea;
  font-size: 16px;
  background: rgba(17, 14, 33, 0.5);
}

.imgframe_red {
  border-radius: 40px 10px;
  margin-bottom: 40px;
  border: 4px solid #fe336d;
}

.imgframe_green {
  border-radius: 40px 10px;
  margin-bottom: 40px;
  border: 4px solid #2bd792;
}

.imgframe_blue {
  border-radius: 40px 10px;
  margin-bottom: 40px;
  border: 4px solid #4f70de;
}

.imgframe_yellow {
  border-radius: 40px 10px;
  margin-bottom: 40px;
  border: 4px solid #feca40;
}

.speechbubble_left {
  position: relative;
	text-align: justify;
	margin-top: -20px;
	background-color: rgba(17, 14, 33, 0.5);
  color: #eaeaea;
	border: 4px solid #707070;
	border-radius: 20px;
	padding: 15px 15px 20px;
	font-size: 16px;
}

.speechbubble_left:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-right-color: #707070;
	border-left: 0;
	margin-top: -25px;
	margin-left: -25px;
}

.speechbubble_left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-right-color: rgba(17, 14, 33, 0.5);
	border-left: 0;
	margin-top: -16px;
	margin-left: -15px;
}

.speechbubble_right {
  position: relative;
	text-align: justify;
	margin-top: -20px;
	background-color: rgba(17, 14, 33, 0.5);
  color: #eaeaea;
	border: 4px solid #707070;
	border-radius: 20px;
	padding: 15px 15px 20px;
	font-size: 16px;
}

.speechbubble_right:before {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: #707070;
	border-right: 0;
	margin-top: -25px;
	margin-right: -25px;
}

.speechbubble_right:after {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-left-color: rgba(17, 14, 33, 0.5);
	border-right: 0;
	margin-top: -16px;
	margin-right: -15px;
}

.lightcone{
  border-bottom: 100px solid rgba(255,255,0,.4);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-radius:15px;
  height: 0;
  width: 100px;
  z-index: -1;
}

.application_blue {
  padding: 15px 15px 10px;
  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: -43px;
  border: 4px solid #4f70de;
  color: #eaeaea;
  font-size: 18px;
  background: rgba(17, 14, 33, 0.5);
}
.application_blue .description{
   visibility: hidden;
   width: 150%;
   font-size: 14px;
   background-color: rgba(255,255,255,0.5);
   color: #000000;
   text-align: justify;
   padding: 10px;
   border: 4px solid #4f70de;
   border-radius: 6px;
   top: 108%;
   left: 0;
   right: 25%;
   margin-left: -50px;
   margin-bottom: -40px;
   position: absolute;
   z-index: 125;
}

/* Science Communication*/
 .light_box{
   position: relative;
   padding: 15px 15px 20px;
   width: 150px;
   margin: 0px 25px;
   border: 4px solid #707070;
   color: #eaeaea;
   font-size: 24px;
   text-align: center;
   background: rgba(17, 14, 33, 1);
  }

  .light_box:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  .lightcone_red{
    border-top: 100px solid rgba(254, 51, 109,.4);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-radius:15px;
    height: 0;
    width: 60px;
    z-index: -1;
  }

  .lightcone_green{
    border-top: 100px solid rgba(43, 215, 146,.4);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-radius:15px;
    width: 70px;
    z-index: -1;
  }

  .lightcone_blue{
    border-top: 100px solid rgba(79, 112, 222,.4);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-radius:15px;
    height: 0;
    width: 70px;
    z-index: -1;
  }

  .lightcone_yellow{
    border-top: 100px solid rgba(254, 202, 64,.4);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-radius:15px;
    height: 0;
    width: 60px;
    z-index: -1;
  }

/* scrollup */
.scrollup {
    width: 35px !important;
    height: 35px !important;
    bottom: 50px !important;
    right: 50px !important;
    text-indent: 0px !important;
    position: fixed !important;
    border-radius: 25px !important;
    line-height: 25px !important;
    overflow: hidden !important;
    padding: 5px !important;
    cursor: pointer;
    -moz-transform: rotate(270deg) !important;
    -webkit-transform: rotate(270deg) !important;
    -o-transform: rotate(270deg) !important;
    -ms-transform: rotate(270deg) !important;
    transform: rotate(270deg) !important;
    background-color: #fff;
    opacity: 0.75;
    color: #4f70de;
    text-align:center;
    font-size: 25px;
    font-weight: bolder;
  }

.scrollup, .scrollup:visited, .scrollup:hover, .scrollup:focus, .scrollup	:active {
    text-decoration: none;
  }
.scrollup:hover{
    opacity:1;
    background-color: #4f70de;
    color: #fff;
  }

  .show {
    visibility: visible;
    opacity: 1;
  };

  .hide {
    visibility: hidden;
    opacity: 0;
  };

  /* footer navi */
  .foot-navi {
    margin-top: 10%;
    margin-left: 10%;
  }

  .myRed, .myGreen, .myBlue, .myYell, .myOrig {
    color: #eaeaea !important;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
  }

/* From us for the world page */
  .spaceship {
    width: 40%;
  }

  .spaceship:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }

  .scontainerRed:hover > .myRed {
    color: #fe336d !important;
  }

  .scontainerGreen:hover > .myGreen {
    color: #2bd792 !important;
  }

  .scontainerBlue:hover > .myBlue {
    color: #4f70de !important;
  }

  .scontainerYell:hover > .myYell {
    color: #feca40 !important;
  }

  @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(-1deg); }
}
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eaeaea;
  font-size: 300%;
  font-weight: bolder;
  text-align: center;
}

.marsian-dialog {
  margin: auto;
  color: #eaeaea;
  font-size: 32px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
   /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
  animation-fill-mode:forwards;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 90%; visibility: visible;}
}

.pop-up {
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.img_modal
{
    border-radius: 10% 20%;
    margin: auto;
    width: 50%;
}

/* Lab Notebook */
.planet :hover {
  cursor: pointer !important;
}

.item {
  cursor: pointer !important;
}

.months_navi {
  cursor: pointer;
  text-align: center;
  font-size: 24px !important;
  margin-right: 20px;
}

.zeilen {
  font-size: 32px;
  font-weight: bolder;
  text-align: left;
  color: #eaeaea;
}

.month {
  color: #eaeaea;
  font-size: 48px;
  font-weight: bolder;
}

.week {
  font-size: 32px;
  text-align: center;
  font-weight: bolder;
}

.week-orig {
    color: #ed413b;
}

.week-blue {
  color: #4f70de;
}

.week-red {
  color: #fe336d;
}

.week-yellow {
  color: #feca40;
}

.week-green {
  color: #2bd792;
}

.week_img_orig {
  border-left: solid #ed413b 3px !important;
}
.week_img_red {
  border-left: solid #fe336d 3px !important;
}

.week_img_green {
  border-left: solid #2bd792 3px !important;
}
.week_img_blue {
  border-left: solid #4f70de 3px !important;
}
.week_img_yellow {
  border-left: solid #feca40 3px !important;
}

.column_orig {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border-left: solid #ed413b 3px !important;
}

.column_red {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border-left: solid #fe336d 3px !important;
}
.column_green {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border-left: solid #2bd792 3px !important;
}
.column_blue {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border-left: solid #4f70de 3px !important;
}

.column_yellow {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
  border-left: solid #feca40 3px !important;
}

.row_orig {
  border-bottom: solid #ed413b 3px !important;
  padding-bottom: 4px;
  padding-top: 4px;
}

.row_red {
  border-bottom: solid #fe336d 3px !important;
  padding-bottom: 4px;
  padding-top: 4px;
}

.row_green {
  border-bottom: solid #2bd792 3px !important;
  padding-bottom: 4px;
  padding-top: 4px;
}

.row_blue {
  border-bottom: solid #4f70de 3px !important;
  padding-bottom: 4px;
  padding-top: 4px;
}

.row_yellow {
  border-bottom: solid #feca40 3px !important;
  padding-bottom: 4px;
  padding-top: 4px;
}

.experiment_list {
  margin: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  list-style: none;
}

.experiment_list  li {
  text-align: justify;
}

.experiment_list  li::before {
  content: "\2022";
  font-size: 24px;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.column_orig .experiment_list  li::before {
  color: #ed413b;
}
.column_blue .experiment_list  li::before {
  color: #4f70de;
}

.column_red .experiment_list  li::before {
  color: #fe336d;
}

.column_green .experiment_list  li::before {
  color: #2bd792;
}

.column_yellow .experiment_list  li::before {
  color: #feca40;
}

.link_to_img {
  font-size: 24px;
  color: #eaeaea;
}

.link_to_img:hover {
  font-weight: bold;
  text-decoration: none;
}

.notebook_img {
  transition: transform .2s;
  width: 100%;
  position: relative;
}

.notebook_img:hover {
  transform: scale(2);
  z-index: 9999;
}


.interactive_img {
  transition: transform .2s;
  margin: 20px 0;
}

.interactive_img:hover {
  transform: scale(2);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  /* z-index: 1; /* Sit on top */ */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  width: 100%; /* Could be more or less, depending on screen size */
  margin-left: auto;
  margin-top: 50px;
	text-align: center;
	background-color: rgba(17, 14, 33, 0.1);
  color: #eaeaea;
	border: 4px solid #707070;
	border-radius: 20px;
	padding: 15px 15px 20px;
	font-size: 16px;
}

.modal-dialog {
  width: 95%;
}

.modal-body {
  position: relative;
  overflow: auto;
  border: none;
}
/* The Close Button */
.close {
  color: #eaeaea !important;
  float: right;
  font-size: 40px;
  font-weight: bold;
  opacity: 0.5;
}

.second_close {
    border: 3px solid #eaeaea !important;
    border-radius: 10%;
    float: right;
    margin-top: 20px;
    opacity: 0.5;
}

.second_close:hover {
  border: 3px solid #eaeaea !important;
  opacity: 1;
}

.close:hover,
.close:focus {
  /* color: #2bd792 !important; */
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}


/* ------------------ Results page ----------------*/
.result_point {
  font-size: 32px;
  font-weight: bold;
  color: #eaeaea;
  margin-top: auto;
  margin-bottom: auto;
}

/* ------------------------- Header --------------------------- */

/*------------------------------------ NAVI MAGIC------------------------------- */
/*------------------------------------ NAVI MAGIC------------------------------- */
/*------------------------------------ NAVI MAGIC------------------------------- */
/*------------------------------------ NAVI MAGIC------------------------------- */
/*------------------------------------ NAVI MAGIC------------------------------- */
li.dropdown:hover>.dropdown-menu {
  display: block !important;
}

.dropdown-menu {
  border-radius: 0 !important;
  border: none !important;
  background: rgba(17, 14, 33, 0.9) !important;
}

.dropdown-menu>li>a {
  font-size: 125% !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25) !important;
  color: #eaeaea !important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  /* text-shadow: 0 1px 0 rgba(255, 255, 255, .25); */
  /* box-shadow: inset 0px -5px 0px  #feca40; */
  /* color: #fe336d !important; */
  background: transparent !important;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  /* color: white; */
  /* background-color: #aa0044 !important; */
  /* -webkit-box-shadow: inset 0 2px 9px rgba(0, 0, 0, .25); */
  /* box-shadow: inset 0 2px 9px rgba(0, 0, 0, .25); */
}

.dropdown-toggle:focus, .dropdown-toggle:active {
  background: none !important;
}

.navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%) !important;
  background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8)) !important;
  background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075) !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.active>a {
  background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%) !important;
  background-image: -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2)) !important;
  background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0) !important;
  background-repeat: repeat-x !important;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075) !important;
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075) !important;
}

.navbar-header {
  position: absolute;
  left: 10%;
}

.navbar-collapse {
  position: absolute;
  left: 15%;
}
/* --------------------lists and dropdows--------------- */
.navbar-brand,
.navbar-nav>li>a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25) !important;
  font-size: 125% !important;
}

.navbar-brand {
  margin-top: 5px !important;
  padding: 0px !important;
}

.navbar-brand>img {
  padding: 1px 5px 10px 5px !important;
  height: 100% !important;
  width: auto !important;
}

.navbar-nav>li>a:hover {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25) !important;
  /* box-shadow: inset 0px -5px 0px 0px #feca40; */
  /* color: #fe336d !important; */
}

.navbar-inverse {
  margin-top: 10px;
  background-image: url("https://2020.igem.org/wiki/images/d/d4/T--Aachen--space.jpg") !important;
  border-radius: 0px !important;
  border: 0px !important;
  margin-bottom: 0px !important;
}

.generic_border {
  background: linear-gradient(to right, #bcbcbc 25%, #ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%) !important;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.active>a {
  background-color: #aa0044 !important;
  -webkit-box-shadow: inset 0 2px 9px rgba(0, 0, 0, .25) !important;
  box-shadow: inset 0 2px 9px rgba(0, 0, 0, .25) !important;
}

.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #aa0044 !important;
  color: #ffffff !important;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25) !important;
  color: #fff !important;
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0 !important;
}

@media (max-width: 767px) {

  .navbar .navbar-nav .open .dropdown-menu>.active>a,
  .navbar .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar .navbar-nav .open .dropdown-menu>.active>a:focus {
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%) !important;
    background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4)) !important;
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0) !important;
    background-repeat: repeat-x !important;
  }
}

/*----------------------- IGEM 2020 Code ----------------------- */


/* text fields */

.abs_head {
    align-content: flex-start;
    text-align: left;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 24px;
    font-family: Arial;
}

.subtitle {
  text-align: left;
  font-weight: 800;
  font-size: 24px;
  font-family: Arial;
}

/* subgroups */

.icons {
  width:100%;
  filter: invert(100%);
}

.subgroup_name {
  font-size: 18px;
  color: #eaeaea;
  text-align: left;
}

/* colors  */
/* red */
.color-red .team-content, .color-red .pic .round-team .team-content
{
  background-color: #fe336d;
}

.color-red .pic, .color-red .description{
  border: 10px solid #fe336d;
}

/* green */
.color-green .team-content, .color-green .pic .round-team .team-content
{
  background-color: #2bd792;
}

.color-green .pic, .color-green .description{
  border: 10px solid #2bd792;
}

/* blue */
.color-blue .team-content, .color-blue .pic .round-team .team-content
{
  background-color: #4f70de;
}

.color-blue .pic, .color-blue .description{
  border: 10px solid #4f70de;
}

/* yellow */
.color-yellow .team-content, .color-yellow .pic .round-team .team-content
{
  background-color: #feca40;
}

.color-yellow .pic, .color-yellow .description{
  border: 10px solid #feca40;
}

.color-yellow .pic .round-team .team-content .infos,
.color-green .pic .round-team .team-content .infos{
  color: #444;
}
/* --------------------------- */
/* Static stuff */
/* --------------------------- */
.das-team{
    text-align: center;
    position: center;
    margin-left: 5px;
    margin-right: 5px;
}
.das-team .pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
.das-team .round-team{
    width: 100%;
    height: auto;
}
.das-team .social{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 20px;
    transition: all 0.3s ease-out 0s;
}
.das-team .social li a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #f28a31;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    transform: scale(0);
    transition: all 0.2s ease 0s;
}
.das-team:hover .social li a{ transform: scale(1); }
.das-team:hover .social li a:hover{ background: #7a4b94; }
.das-team .team-content{
    padding: 15px 15px 20px;
    border-radius: 40px 10px;
    margin-top: -20px;
    color: #fff;
}
.das-team .title{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    text-align: center !important;
}
.das-team .post{
    display: block;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #444;
}
.das-team .description{
    padding: 20px;
    border-radius: 40px 10px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
    text-align: justify;
    color: #eaeaea;
    background: rgba(17, 14, 33, 0.5);
}
@media only screen and (max-width: 990px){
    .das-team{ margin-bottom: 30px; }
}
@media only screen and (max-width: 359px){
    .das-team .pic{
        width: 150px;
        height: 150px;
    }
    .das-team .social{ top: 20px; }
}

/*-----------------------*/

.round-team{
    overflow: hidden;
    border-radius: 100%;
    position:relative;
    bottom: 5px;
    margin-bottom: 40px;
}
.round-team img{
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
}
.round-team:hover img{
    right: 60%;
}
.round-team .team-content{
    width: 80%;
    height: 370px;
    background: #4d6fde;
    padding: 18% 30px 0;
    position: absolute;
    text-align: left;
    top: 0;
    right: -80%;
    transition: all 0.4s ease-in-out 0s;
}
.round-team:hover .team-content{
    right: 0;
}
.round-team .title{
    font-size: 22px;
    color: #fff;
    margin: 0 0 0 0;
    font-weight: 800;
    text-align: left !important;
}
.round-team .post{
    display: block;
    font-size: 12px;
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.round-team .infos{
    font-size: 14px;
    color: #ddd;
}
.round-team .subgroup{
	list-style-type: none;
	text-align: center;
	padding: 0;
	padding-top: 10%;
	margin: 0;
}
.round-team .subgroup li{
    display: inline-block;
    margin-left: 10px;
}
.round-team .subgroup li img{
	display: block;
	width: 36px;
    height: 36px;
    position: relative;
    text-align: center;
    transition: all 0.4s ease-in-out 0s;
}
.round-team .social{
	padding: 0;
    margin: 0;
    list-style: none;
}
.round-team .social li{
    display: inline-block;
    margin-right: 10px;
}
.round-team .social li:last-child{
    margin-right: 0;
}
.round-team .social li a{
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #999;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
}
.round-team .social li a:hover{ color: #fff; }
.round-team .social li a.fa-facebook:hover{ background: #3b5a9b; }
.round-team .social li a.fa-twitter:hover{ background: #2baae1; }
.round-team .social li a.fa-google-plus:hover{ background: #f63d26; }
.round-team .social li a.fa-youtube:hover{ background: #c3181e; }
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 50px; }
}
@media only screen and (max-width: 360px){
    .team-content{ padding: 15% 15px 0; }
    .round-team .social li{ margin-right: 0; }
}
