/*---------------------------------------- This is all Bootstrap stuff----------------------------------
-----------------!!!!IMPORTANT!!!!!!----------------------------------
-----------------Always include Bootstrap first---------------------
-----------------------------------------------------*/


/*----------------------- IGEM 2020 Code ----------------------- */
/* base */
body {
  background-color:#fff;
  background-image: url("../docs/space.jpg");
}

.container-fluid {
  background:linear-gradient(to right,#fe336d 0, #fe336d 25%, #2bd792 25%, #2bd792 50%, #4f70de 50%, #4f70de 75%, #feca40 75%, #feca40 100%)  bottom;
  background-repeat: no-repeat;
  background-size:100% 4px;
  width:100%;
}

/* headings and universal texts */
h1 {
  text-align:left;
  font-size: 36px;
  color: #eaeaea;
}

h2 {
  text-align:left;
  font-size: 32px;
  color: #eaeaea;
}
/* colors header */
#myRed:hover, .myRed:hover {
  box-shadow: inset 0px -5px 0px 0px #fe336d;
  color: #fe336d;
  text-decoration: none;
}
#myGreen:hover, .myGreen:hover {
  box-shadow: inset 0px -5px 0px 0px #2bd792;
  color: #2bd792;
  text-decoration: none;
}
#myBlue:hover, .myBlue:hover {
  box-shadow: inset 0px -5px 0px 0px #4f70de;
  color: #4f70de;
  text-decoration: none;
}
#myYell:hover, .myYell:hover {
  box-shadow: inset 0px -5px 0px 0px #feca40;
  color: #feca40;
  text-decoration: none;
}

/* attributions seite */
.attributions{
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}
.attributions .title{
  visibility: hidden;
  width: 80%;
   font-size: 14px;
   background-color: rgba(211, 211, 211, 0.50);
   /*background-color: rgba(228, 135, 104, 0.70);*/
   color: #000000;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
   bottom: 100%;
   left: 25%;
   right: 25%;
   margin-left: -60px;
   position: absolute;
   z-index: 125;
}
.attributions .description{
  visibility: hidden;
   width: 80%;
   font-size: 14px;
   background-color: rgba(211, 211, 211, 0.50);
   /*background-color: rgba(228, 135, 104, 0.70);*/
   color: #000000;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
   top: 80%;
   left: 25%;
   right: 25%;
   margin-left: -60px;
   position: absolute;
   z-index: 125;
}
.attributions:hover .title{
  visibility: visible;
}
.attributions:hover .description{
  visibility: visible;
}

/* modelling seite */
.textframe_blue {
  padding: 15px 15px 20px;
  border-radius: 40px 10px;
  margin-top: -20px;
  border: 4px solid #4f70de;
  color: #eaeaea;
  font-size: 16px;
  background: rgba(17, 14, 33, 0.5);
}

/* Project Description */
.textframe_yellow {
  padding: 15px 15px 20px;
  border-radius: 40px 10px;
  margin-top: -20px;
  border: 4px solid #feca40;
  color: #eaeaea;
  font-size: 16px;
  background: rgba(17, 14, 33, 0.5);
}

.textframe_red {
  padding: 15px 15px 20px;
  border-radius: 40px 10px;
  margin-top: -20px;
  border: 4px solid #fe336d;
  color: #eaeaea;
  font-size: 16px;
  background: rgba(17, 14, 33, 0.5);
}

.textframe_green {
  padding: 15px 15px 20px;
  border-radius: 40px 10px;
  margin-top: -20px;
  border: 4px solid #2bd792;
  color: #eaeaea;
  font-size: 16px;
  background: rgba(17, 14, 33, 0.5);
}

.textframe_grey {
  padding: 15px 15px 20px;
  border-radius: 40px 10px;
  margin-top: -20px;
  border: 4px solid #707070;
  color: #eaeaea;
  font-size: 16px;
  background: rgba(17, 14, 33, 0.5);
}

.speechbubble_left {
  position: relative;
	text-align: center;
	margin-top: -20px;
	background-color: rgba(17, 14, 33, 0.5);
  color: #eaeaea;
	border: 4px solid #707070;
	border-radius: 20px;
	padding: 15px 15px 20px;
	font-size: 16px;
}

.speechbubble_left:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-right-color: #707070;
	border-left: 0;
	margin-top: -25px;
	margin-left: -25px;
}

.speechbubble_left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-right-color: rgba(17, 14, 33, 0.5);
	border-left: 0;
	margin-top: -16px;
	margin-left: -15px;
}

.speechbubble_right {
  position: relative;
	text-align: center;
	margin-top: -20px;
	background-color: rgba(17, 14, 33, 0.5);
  color: #eaeaea;
	border: 4px solid #707070;
	border-radius: 20px;
	padding: 15px 15px 20px;
	font-size: 16px;
}

.speechbubble_right:before {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: #707070;
	border-right: 0;
	margin-top: -25px;
	margin-right: -25px;
}

.speechbubble_right:after {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-left-color: rgba(17, 14, 33, 0.5);
	border-right: 0;
	margin-top: -16px;
	margin-right: -15px;
}

.lightcone{
  border-bottom: 100px solid rgba(255,255,0,.4);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-radius:15px;
  height: 0;
  width: 100px;
  z-index: -1;
}

.application_blue {
  padding: 15px 15px 10px;
  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: -43px;
  border: 4px solid #4f70de;
  color: #eaeaea;
  font-size: 18px;
  background: rgba(17, 14, 33, 0.5);
}
.application_blue .description{
   visibility: hidden;
   width: 150%;
   font-size: 14px;
   background-color: rgba(255,255,255,0.5);
   color: #000000;
   text-align: justify;
   padding: 10px;
   border: 4px solid #4f70de;
   border-radius: 6px;
   top: 108%;
   left: 0;
   right: 25%;
   margin-left: -50px;
   margin-bottom: -40px;
   position: absolute;
   z-index: 125;
}


/* scrollup */
.scrollup {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    line-height: 25px;
    overflow: hidden;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-color: #fff;
    opacity: 0.75;
    color: #4f70de;
    text-align:center;
    font-size: 25px;
    font-weight: bolder;

    .show {
    visibility: visible;
    opacity: 1;
    };
    .hide {
      visibility: hidden;
      opacity: 0;
    };
  }
.scrollup, .scrollup:visited, .scrollup:hover, .scrollup:focus, .scrollup	:active {
    text-decoration: none;
  }
.scrollup:hover{
    opacity:1;
    background-color: #4f70de;
    color: #fff;
  }

  /* footer navi */
  .foot-navi {
    margin-top: 10%;
    margin-left: 10%;
  }

  .myRed, .myGreen, .myBlue, .myYell {
    color: #eaeaea;
    font-size: 18px;
    text-decoration: none;
  }

/* From us for the world page */
  .spaceship {
    width: 40%;
  }

  .spaceship:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-2px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(-1deg); }
}
  #centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 200%;
  font-weight: bolder;
}

/* Lab Notebook */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*----------------------- IGEM 2020 Code ----------------------- */
