<style>*{display:none}</style>
<div id="head">
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="author" content="Julian Ahl (webdesign@julianahl.de)">
 <link rel="search" type="application/opensearchdescription+xml" href="/wiki/opensearch_desc.php" title="2019.igem.org (en)">
 <link rel="copyright" href="https://creativecommons.org/licenses/by/3.0/">
 <link rel="stylesheet" href="https://2019.igem.org/wiki/load.php?debug=false&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.content.externallinks%7Cmediawiki.skinning.interface%7Cmediawiki.ui.button%7Cskins.igem.styles&amp;only=styles&amp;skin=igem&amp;*">
 <!-- make all text blocksatz again -->
 <!--<style>p{text-align:justify}</style>-->
 <!-- BOOTSTRAP STYLES -->
 <link href="//2019.igem.org/wiki/index.php?title=Template:Aachen/css/bootstrap&action=raw&ctype=text/css" rel="stylesheet" />
 <!-- FONTAWESOME STYLES -->
 <link href="//2019.igem.org/wiki/index.php?title=Template:Aachen/css/font-awesome&action=raw&ctype=text/css" rel="stylesheet" />
 <!-- CUSTOM BASIC STYLES -->
 <link href="//2019.igem.org/wiki/index.php?title=Template:Aachen/css/basic&action=raw&ctype=text/css" rel="stylesheet" />
 <!-- FONTS -->
 <link href='//2019.igem.org/wiki/index.php?title=Template:Aachen/css/fonts&action=raw&ctype=text/css' rel='stylesheet' type='text/css' />
 <link rel="shortcut icon" href="/wiki/images/0/0e/T--aachen--favicon.png">
 <script id="setupScript">
   function doStuff() {
     // remove this script element, to prevent further execution etc.
     document.getElementById("head").removeChild(document.getElementById("setupScript"));
     // replace header with header from template
     document.head.innerHTML = document.getElementById("head").innerHTML;
     // Save original list of stuff in body
     inBody = [...document.body.children];
     // Add header stuff from page
     headAdd = document.getElementById("headAdd");
     if(headAdd)document.head.innerHTML += headAdd.innerHTML;
     // Merge template and page
     main = document.getElementById("main");
     if(main)document.getElementById("mainSocket").appendChild(main);
     // Remove all Attributes from body
     while(document.body.attributes.length>0)document.body.removeAttribute(document.body.attributes[0].name);
     // Add Attributes of socket to body
     [...document.getElementById("protobody").attributes].forEach(function(attr){document.body.setAttribute(attr.name, attr.value)});
     document.body.removeAttribute("id");
     // Add menu to body
     document.body.appendChild(document.getElementById("top_menu_under"));
     document.body.appendChild(document.getElementById("top_menu_14"));
     // Add socket to body
     document.body.appendChild(document.getElementById("socket"));
     // Remove the remaining Stuff
     inBody.forEach(function(node){document.body.removeChild(node)});

     // other js
     LoadScript();
   }
 </script>
</div>
<div id="protobody" class="iGEM-color" style="margin:auto;overflow-x:hidden"></div>
<div id="socket" style="display: flex; min-height: 100%">
 <style>
  .trs{transition:all .5s}
  #main-menu{transition:background 1s}
  #main-menu:not(:hover){background:rgba(85,10,16,0.2)}
  #footer a{transition:transform 0.35s;text-decoration:none}
  #footer a:hover{transform:scale(1.1)}
 </style>
 <script>
  function LoadScript() {
   [...document.getElementsByClassName('button')].forEach(function(e){
    e.classList.add('inactive');
    e.classList.remove('active');
    e.onclick=function(){
     if(this.classList.contains("active")){
      [...document.getElementsByClassName('button')].filter(function(elem){return this.parentNode.contains(elem)}, this).forEach(function(e){
       e.classList.add('inactive');
       e.classList.remove('active')});
      }else{
       this.classList.add("active");
       this.classList.remove("inactive")
      }
     }
    }
   );
   document.getElementById("main-menu").onmouseleave=function(){
    [...document.getElementsByClassName('button')].forEach(function(e){e.classList.add('inactive');e.classList.remove('active')})
   };
  }
 </script>
 <div class="menu trs" style="position:fixed;top:0;z-index:100;left: 0;height: 100px;right: 0;text-transform: uppercase;font-size: x-large;padding: 15px 0px 0px 0px">
  <div class="nav iGEM-color" id="main-menu" style="min-height:100%;width:100%;justify-content:space-evenly;align-items:center;flex-wrap:wrap">
   <div>
    <a href="." style="padding:0">
     <img src="/wiki/images/e/ec/T--aachen--navbarlogo_plastractor.svg" style="border:0px;height:80px;padding:5px 0">
    </a>
   </div>
   <div>
    <a class="button">Project</a>
    <div class="nav iGEM-color">
     <div>
      <!-- <a href="description">Description</a> -->
      <a href="project">Description</a>
     </div>
     <div>
      <a href="results">Results</a>
     </div>
     <div>
      <a href="demo">Demonstration</a>
     </div>
    </div>
   </div>
   <div>
    <a class="button">Lab</a>
    <div class="nav iGEM-color">
     <div>
      <a href="laboverview">Overview</a>
     </div>
     <div>
      <a href="workflow">Workflow</a>
     </div>
     <!-- <div> -->
      <!-- <a href="interlab_study">Interlab study</a> -->
     <!-- </div> -->
     <div>
      <a href="part">Part</a>
     </div>
     <div>
      <a href="notebook">Notebook</a>
     </div>
     <div>
      <a href="protocols">Protocols</a>
     </div>
     <div>
      <a href="safety">Safety</a>
     </div>
    </div>
   </div>
   <div>
    <a class="button">Hardware</a>
    <div class="nav iGEM-color">
     <div>
      <a href="hwoverview">Overview</a>
     </div>
     <div>
      <a href="mpb">Plastractor</a>
     </div>
     <div>
      <a href="fluidchip">microfluidic chip</a>
     </div>
    </div>
   </div>
   <div>
    <a href="model">Modeling</a>
   </div>
   <div>
    <a class="button">HP</a>
    <div class="nav iGEM-color">
     <div>
      <a href="hp">HP</a>
     </div>
     <div>
      <a href="collaborations">Collaborations</a>
     </div>
     <div>
      <a href="ihp">Integrated HP</a>
     </div>
    </div>
   </div>
   <div>
    <a class="button">People</a>
    <div class="nav iGEM-color">
     <div>
      <a href="team">Team</a>
     </div>
     <div>
      <a href="sponsors">Sponsors</a>
     </div>
     <div>
      <a href="attributions">Attributions</a>
     </div>
    </div>
   </div>
   <div>
    <a class="button">Awards</a>
    <div class="nav iGEM-color">
     <div>
      <a href="model">Model</a>
     </div>
     <div>
      <a href="hardware">Hardware</a>
     </div>
     <div>
      <a href="hp">HP</a>
     </div>
     <!--<div>
      <a href="measurement">Measurement</a>
     </div>-->
     <!--<div>
      <a href="entrepreneurship">Entrepreneurship</a>
     </div>-->
     <div>
      <a href="public_engagement">Public engagement</a>
     </div>
     <div>
      <a href="software">Software</a>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div style="width:100%">
  <div style="height:82px"></div><!-- spacer -->
  <div style="flex-grow: 1; height: 100%">
   <!-- Hauptbereich der Seite -->
   <div id="mainSocket"></div>
   <!--footer-->
   <div id="footer" style="display:flex;flex-direction:row;height:40px;margin-bottom:-5px"> <!-- Obere Leiste -->
    <div style="flex-grow:1;width:1px;display:flex;align-items:center"></div> <!-- Links in der oberen Leiste -->
    <div style="display:flex;justify-content:space-between;align-items:center;width:120px;font:2em FontAwesome"> <!-- Mittig in der oberen Leiste -->
     <a href="https://www.facebook.com/iGEMAachen" title="facebook" style="color:#fff"></a>
     <a href="https://twitter.com/iGEMAachen" title="twitter" style="color:#fff"></a>
     <a href="https://www.instagram.com/igem.Aachen" title="Instgram" style="color:#fff"></a>
     <a href="https://www.youtube.com/channel/UCnIsgLJVUFhwqUYJtdd2tIA" title="YouTube" style="color:#fff"></a>
    </div>
    <div style="flex-grow:1;width:1px;display:flex;align-items:center;justify-content:center"> <!-- Rechts in der oberen Leiste -->
     <a style="color:#FFF" target="_blanc" href="imprint">
      Imprint
     </a>
    </div>
    </div>
  </div>
 </div>
</div>
