/* text fields */

.abs_head {
    align-content: flex-start;
    text-align: left;
    font-weight: 800;
    font-size: 24px;
    font-family: Helvetica, Arial;
}

/* rows delimeters */

.container-fluid {
  background:linear-gradient(to right,#fe336d 0, #fe336d 25%, #2bd792 25%, #2bd792 50%, #4f70de 50%, #4f70de 75%, #feca40 75%, #feca40 100%)  bottom;
  background-repeat: no-repeat;
  background-size:100% 4px;
  width:100%;
}

.team_head {
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  font-family: Helvetica, Arial;
}

.das-team{
    text-align: center;
    position: center;
    margin-left: 5px;
    margin-right: 5px;
}
.das-team .pic{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 10px solid #4d6fde;
    margin: 0 auto;
    overflow: hidden;
}
.das-team .round-team{
    width: 100%;
    height: auto;
}
.das-team .social{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 20px;
    transition: all 0.3s ease-out 0s;
}
.das-team .social li a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #f28a31;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    transform: scale(0);
    transition: all 0.2s ease 0s;
}
.das-team:hover .social li a{ transform: scale(1); }
.das-team:hover .social li a:hover{ background: #7a4b94; }
.das-team .team-content{
    padding: 15px 15px 20px;
    background: #4d6fde;
    border-radius: 40px 10px;
    margin-top: -20px;
    color: #fff;
}
.das-team .title{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
.das-team .post{
    display: block;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}
.das-team .description{
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    font-size: 16px;
    color: #666;
    line-height: 30px;
    margin-bottom: 0;
}
@media only screen and (max-width: 990px){
    .das-team{ margin-bottom: 30px; }
}
@media only screen and (max-width: 359px){
    .das-team .pic{
        width: 150px;
        height: 150px;
    }
    .das-team .social{ top: 20px; }
}

/*-----------------------*/

.round-team{
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    bottom: 5px;
}
.round-team img{
    width: 100%;
    height: 343px;
    position: relative;
    right: 0;
    transition: all 0.4s ease-in-out 0s;
}
.round-team:hover img{
    right: 60%;
}
.round-team .team-content{
    width: 80%;
    height: 370px;
    background: #4d6fde;
    padding: 20% 30px 0;
    position: absolute;
    top: 0;
    right: -80%;
    transition: all 0.4s ease-in-out 0s;
}
.round-team:hover .team-content{
    right: 0;
}
.round-team .title{
    font-size: 22px;
    color: #fff;
    margin: 0 0 10px 0;
    font-weight: 800;
}
.round-team .post{
    display: block;
    font-size: 12px;
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.round-team .infos{
    font-size: 14px;
    color: #ddd;
}
.round-team .subgroup{
	list-style-type: none;
	text-align: center;
	padding: 0;
	padding-top: 10%;
	margin: 0;
}
.round-team .subgroup li{
    display: inline-block;
    margin-left: 10px;
}
.round-team .subgroup li img{
	display: block;
	width: 36px;
    height: 36px;
    position: relative;
    text-align: center;
    transition: all 0.4s ease-in-out 0s;
}
.round-team .social{
	padding: 0;
    margin: 0;
    list-style: none;
}
.round-team .social li{
    display: inline-block;
    margin-right: 10px;
}
.round-team .social li:last-child{
    margin-right: 0;
}
.round-team .social li a{
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #999;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
}
.round-team .social li a:hover{ color: #fff; }
.round-team .social li a.fa-facebook:hover{ background: #3b5a9b; }
.round-team .social li a.fa-twitter:hover{ background: #2baae1; }
.round-team .social li a.fa-google-plus:hover{ background: #f63d26; }
.round-team .social li a.fa-youtube:hover{ background: #c3181e; }
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 50px; }
}
@media only screen and (max-width: 360px){
    .team-content{ padding: 15% 15px 0; }
    .round-team .social li{ margin-right: 0; }
}
